Audrey Tang <audreyt@audreyt.org>
Baldur Kristinsson <baldur.kristinsson@gmail.com>
Christian Loos <cloos@netcologne.de>
David E. Weekly <david@weekly.org>
Graham Knop <haarg@haarg.org>
Karen Etheridge <ether@cpan.org>
Kenichi Ishigaki <ishigaki@cpan.org>
Michael G. Schwern <schwern@pobox.com>
Mohammad S Anwar <mohammad.anwar@yahoo.com>
Niklas Holm <jadedcyborg@gmail.com>
Roy Ivy III <rivy.dev@gmail.com> <rivy@cpan.org>
Shoichi Kaji <skaji@cpan.org>
Timothy Legge <timlegge@gmail.com>
Wes Young <wes@barely3am.com>

